html {
    background-color: blue
}
h1 {
    color: white
}
li {
    list-style: none;
}
ol {
   margin: 0;
   padding: 0:
}
.box
{

    width: 220px;
    height: 200px;
    padding: 10px;
    border: 2px solid black;
    margin: 0px;
    background-color: white;
    display: block;
}

.Contact {
    width: 220px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}
.stupidhead {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}